name: Bump Version & Promote to Prod

on:
  push:
    branches:
      - main

jobs:
  bump-and-promote:
    runs-on: ubuntu-latest
    if: "!startsWith(github.event.head_commit.message, 'chore: bump')"
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.KEY_PAT }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Configure Git
        run: |
          git config user.name "GitHub Action Bot"
          git config user.email "action@github.com"

      - name: Bump Patch Version
        id: bump
        run: |
          cd app
          npm version patch --no-git-tag-version
          
          NEW_VERSION=$(node -p "require('./package.json').version")
          echo "New version is $NEW_VERSION"
          echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT
          cd ..

      - name: Commit and Push to MAIN
        run: |
          git add app/package.json
          git commit -m "chore: bump version to ${{ steps.bump.outputs.version }}"
          git push origin main

      - name: Push to PROD
        run: |
          git push https://x-access-token:${{ secrets.KEY_PAT }}@github.com/${{ github.repository }}.git main:prod --force